@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Emilys+Candy&family=Fira+Code&family=Righteous&family=Special+Elite&display=swap');

* {
    margin: 0;
}

body {
    text-align: center;
    padding-top: 160px;
    background-image: url(https://i.ibb.co/tq8PyRW/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;
    font-family: 'Inter', sans-serif;
}

h3 {
    font-size: 16px;
    line-height: 19px;
    color: azure;
}

h3 span {
    color:#FFC700;
}

h1 {
    color: #FFC700; 
    border: 1px solid rgba(230, 224, 224, 0);
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    font-family: 'Emilys Candy', cursive;
}

p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
    color: azure;
    opacity: .7;
}

a {
    padding: 12px 32px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color:azure;
}

.btn-primary {
    text-decoration: none;
    color:azure;
    background-color: #FFC700;
}
